{
"parser": "babel-eslint",
  "plugins": 
	["react"],
	["jsx-a11y"],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
